    <div *ngIf = "employee">
        <table class="container">
        <table style="float: left;
                    padding: 20px;
                    margin-left: 5%;
                    table-layout: fixed;
                    width: 25%;
                    margin-top: 5%;
                    border-right: solid black;">
                <tr aria-rowspan="2">
                    <td style="text-align: center;"><img class = "center" src={{employee.image}}></td>
                </tr>
                <tr>
                    <td style="text-align: center;"><strong style="font-size: 24px;">{{employee.empname}}</strong></td>
                </tr>
                <tr>
                    <td style="text-align: center; color: gray;">{{employee.des}}</td>
                </tr>
                <tr>
                    <td style="text-align: center; color: gray;">Employee ID: {{employee.id}}</td>
                </tr>
        </table>
        <table style="float: left;
            margin-right: 5%;
            margin-left: 5%;
            margin-top: 5%;
            margin-bottom: 5%;
            width: 53%;">
            <tr>
                <td colspan="2" style="text-decoration: underline;">Details</td>
            </tr>
            <tr>
                <td>Date of Birth: </td>
                <td class="boxed"> {{employee.dob}}</td>
            </tr>
            <tr>
                <td>Date of Joining: </td>
                <td class="boxed">  {{employee.doj}}</td>
            </tr>
            <tr>
                <td>Contact Details </td>
                <td></td>
            </tr>
            <tr>
                <td class="addr">&emsp;Address 1: </td>
                <td class="boxed">  {{employee.add1}}</td>
            </tr>
            <tr>
                <td class="addr">&emsp;Address 2: </td>
                <td class="boxed">  {{employee.add2}}</td>
            </tr>
            <tr>
                <td class="addr">&emsp;State: </td>
                <td class="boxed">  {{employee.state}}</td>
            </tr>
            <tr>
                <td class="addr">&emsp;City: </td>
                <td class="boxed">  {{employee.city}}</td>
            </tr>
            <tr>
                <td class="addr">&emsp;Country: </td>
                <td class="boxed">  {{employee.country}}</td>
            </tr>
            <tr>
                <td class="addr">&emsp;Pin: </td>
                <td class="boxed">  {{employee.pin}}</td>
            </tr>
            <tr>
                <td>Mobile Number: </td>
                <td class="boxed">  {{employee.phone}}</td>
            </tr>
        </table>
    </table>
    </div>