
div.name{
    background-color: cornflowerblue;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 5px 0;
}
.navbar-custom{
    background-color: lightgray;
    height: 40px;
}
.active{
    background-color: whitesmoke;
    height: 42px;
    margin-top: 3px;
}
